<%- include('./partials/indexHeader.ejs') %>

<body>
    <div class="container">
        <h1>Welcome To Crossroads!</h1>

        <div class="btn">
            <button><a href="/profile/register">Sign Up</a></button>
            <button><a href="/profile/signin">Sign In</a></button>
        </div>

        <div class="profiles">
            <ul class="profile">
                <% for(let i = 0; i < profile.length; i++) { %>
                    <li>
                        <img src="<%= profile[i].img %>" alt="" class="avatarSmall">
                    </li>

                    <li>
                        <a href="/profile/<%=profile[i].username%>"><%= profile[i].username %></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</body>

<%- include('./partials/footer') %>